<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jarvis.second-brain-reindex</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jarvis/clawd/second-brain-env/bin/python3</string>
        <string>/Users/jarvis/clawd/scripts/second-brain-index.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jarvis/clawd</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/jarvis</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/second-brain-reindex.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/second-brain-reindex.log</string>
</dict>
</plist>
